[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "tensorBSS"]
	path = tensorBSS
	url = https://github.com/cran/tensorBSS
	shallow = true
	registered = true
